
#app {
  width: 400px;
  margin: 0 auto;
}

#display {
  background: black;
  color: white;
  padding: 0.5em;
  text-align: right;
  font-size: 30px;
  border-radius: 15px 15px 0 0;
}

#keyboard {
  border-radius: 0 0 15px 15px;
  background-color: #ccc;
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: repeat(4, 1fr);
}

#keyboard div {
  padding: 1em 2em;
  cursor: pointer;
  text-align: center;
}

.operator {
  background: darkcyan;
}
.operator:hover {
  background: cyan;
}
.number:hover {
  color: darkcyan;
  font-weight: bolder;
}

.equal {
  background: darkorange;
  grid-row: 2/6;
  grid-column: 4/5;
  vertical-align: middle;
  border-bottom-right-radius: 15px;
  line-height: 168px;
}
